*{
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
}
.container{
max-width: 1170px;
width: 100%;
margin: 0 auto;
}
body{
    background-color:whitesmoke;
}
.header__list{
color: #363853;
width: 74px;
font-size: 18px;
}
.head__link{
display: flex;
gap: 30px;
padding-top: 7px;
}
.header__nav{
padding-top: 50px;
display: flex;
gap: 500px;
}
.header__btn{
background: #FF7A50;
color: #ffffff;
padding: 15px 27px;
border: none;
border-radius: 5px;
transition: 1s;
   
}
.sa{
display: flex;
gap: 50px;
}
.h1{
    color: #363853;
    width: 530px;
    font-size: 66px;
}
.strong{
color: #FF7A50;
}
.p{
    color: #363853;
    width: 513px;
    font-size: 22px;
    padding-top: 45px;
   
}
.header__bt{
    background: #FF7A50;
color: #ffffff;
padding: 15px 27px;
border: none;
border-radius: 5px;
margin-top: 45px;
transition: 1s;
}
.ass{
margin-top: 318px;
}
.im{
margin-top: 157px;

}
.assss{
    display: flex;
}
.h3{
  color: #363853;  
  width: 384px;
  font-size: 36px;
}
.qwer{
  width: 449px;
  font-size: 20px;
  padding-top: 100px;
}
.btn{
    margin-top: 100px;
background: #FF7A50;
color: #ffffff;
padding: 15px 27px;
border: none;
border-radius: 25px;
transition: 1s;
}
.qwertyuiop{
    display: flex;
    margin-top: 100px;
    gap: 100px;
}
.qewdsa{
  margin-top: 150px;
}
.h5{
    width: 360px;
    color: #363853;
margin-left: 470px;

    
}
.btn:hover{
    background-color: aqua;
    color: black;
}
.header__bt:hover{
    background-color: yellow;
    color: red;
}
.header__btn:hover{
    background-color: green;
    color: red;
}
.ay{
color: #363853;
font-size: 24px;
padding-left: 10px;
}
.ayp{
    color: #363853;
   font-size: 18px;
}

 .zz{
    background-color:white;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 300px;
 } 
 

.a{
    display: flex;
    gap: 20px;
    padding-top: 20px;
    padding-left: 10px;
}
.img{
    width: 22px;
    height: 22px;
}

.ota{
    display: flex;
    gap: 40px;
    margin-top: 50px;
}

.ona{
    display: flex;
    gap: 10px;
}
.images{
    padding-top:1px ;
}
.body{
    margin-top: 149px;
 
}
.gd{
    color: #363853;
    font-size: 36px;
}
.secion{
    padding-top: 50px;
    width: 538px;
    font-size: 20px;
 color: #363853;
}
.class{
    display: flex;
    margin-top: 100px;
}



















.opa{
    color: #ffffff;
  padding-left: 400px;
  padding-top: 45px;
}
.footer{
    background-color: #FF7A50;
   width: 1170px;
   margin-left: 150px;
   margin-top: 100px;
   border-radius: 10px;
}
.form{
    border: none;
    padding-top: 35px;
   padding-left: 280px;
   padding-bottom: 30px;    
   display: flex;
}
.inpupt{
    width: 600px;
    padding: 13px 13px;
    border-radius: 13px;
    border: none;
    outline: none;
}
.subscribe{

}
.bbb{
    color: #ffffff;
    padding: 10px 25px;
    background-color: #FF7A50;
    border-radius: 20px;
    
}